body {
  position: relative;
  color: #707070;
  font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: #A1DE3F;
}

img {
  display: block;
}

a {
  color: $black;
  text-decoration: none;
}