.c-contents {
  @media (max-width: $sp) {
    padding: 50px 10px 67px;
  }
  padding: 30px 30px 67px;
}

.c-addButton {
  @media (min-width: $tab) {
    right: 50px;
    bottom: 30px;
    width: 60px;
    height: 60px;
  }
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  &::before {
    content: "";
    display: block;
    border-top: solid 1px $black;
  }
  &::after {
    content: "";
    display: block;
    border-top: solid 1px $black;
    transform: rotate(90deg);
  }
}

.c-inputArea__close {
  position: absolute;
  top: -8px;
  right: -8px;
  text-align: center;
  border-radius: 50%;
}