@charset "UTF-8";
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  color: #707070;
  font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: #A1DE3F; }

img {
  display: block; }

a {
  text-decoration: none; }

.is-hidden {
  display: none; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.l-header {
  padding: 24px 0;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  border-bottom: solid 1px #707070; }

.c-contents {
  padding: 30px 30px 67px; }
  @media (max-width: 480px) {
    .c-contents {
      padding: 50px 10px 67px; } }

.c-addButton {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%; }
  @media (min-width: 680px) {
    .c-addButton {
      right: 50px;
      bottom: 30px;
      width: 60px;
      height: 60px; } }
  .c-addButton::before {
    content: "";
    display: block;
    border-top: solid 1px #707070; }
  .c-addButton::after {
    content: "";
    display: block;
    border-top: solid 1px #707070;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.c-inputArea__close {
  position: absolute;
  top: -8px;
  right: -8px;
  text-align: center;
  border-radius: 50%; }

.p-deffer {
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 30px; }
  .p-deffer__text {
    margin-top: 10px; }

.p-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 86px;
  font-size: 14px; }
  @media (min-width: 680px) {
    .p-prices {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-top: 70px; } }
  .p-prices__person {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 50px 5px 30px;
    min-width: 145px;
    margin-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F5EED1; }
    @media (min-width: 680px) {
      .p-prices__person {
        padding: 50px 20px 50px;
        -webkit-box-flex: 0.3;
        -ms-flex-positive: 0.3;
        flex-grow: 0.3;
        margin-left: 0; } }
    .p-prices__person:first-child {
      margin-left: 0; }
    .p-prices__person .p-pricesPerson__title {
      position: absolute;
      top: -38px;
      left: calc(50% - 38px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px;
      width: 76px;
      height: 76px;
      background-color: #fff;
      border-radius: 50%; }
    .p-prices__person .p-pricesPerson__types {
      padding-bottom: 15px;
      border-bottom: 1px solid #707070; }
      @media (min-width: 680px) {
        .p-prices__person .p-pricesPerson__types {
          padding-bottom: 25px; } }
    .p-prices__person .p-price__type {
      margin-top: 10px;
      padding-left: 5px; }
      @media (min-width: 680px) {
        .p-prices__person .p-price__type {
          margin-top: 20px; } }
      .p-prices__person .p-price__type:first-child {
        margin-top: 0; }
    .p-prices__person .p-price {
      padding: 5px 0;
      background-color: #fff;
      border-radius: 10px;
      text-align: center; }
      @media (min-width: 680px) {
        .p-prices__person .p-price {
          padding: 10px 0;
          border-radius: 20px; } }
    .p-prices__person .p-foods, .p-prices__person .p-commodity, .p-prices__person .p-public {
      margin-top: 5px; }
      @media (min-width: 680px) {
        .p-prices__person .p-foods, .p-prices__person .p-commodity, .p-prices__person .p-public {
          margin-top: 10px; } }
    .p-prices__person .p-total {
      margin-top: 15px; }
      @media (min-width: 680px) {
        .p-prices__person .p-total {
          margin-top: 20px; } }

.p-inputArea {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 77, 77, 0.815); }
  .p-inputArea__inner {
    position: relative;
    padding: 20px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.p-attention {
  color: red; }

.p-itemInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
